<footer class="container h-8">
    <div class="flex gap-4 justify-end items-center mt-8 sm:hidden">
        <span class="h-[0.5px] w-12 bg-white"></span>
        <p class="text-[1.3rem]">sarahkvburnett</p>
    </div>
</footer>